fastapi
httpx
Jinja2
numpy
openai-whisper
pyaudio
python-dotenv
python-multipart
sentence-transformers
SpeechRecognition
starlette
tenacity
torch
transformers
uvicorn
setuptools<66.0.0
